.row{
	width: 100%;
	display: flex;
}
.col-1{
	width: 8.3%;
	 
}
.col-2{
	width: 16.67%;
	 
}
.col-3{
	width: 25%;
	 
}
.col-4{
	width: 33.33%;
	 
}
.col-5{
	width: 41.16%;

}
.col-6{
	width: 50%;
	 
}	 
.col-7{
	width: 58%;
	 
}
.col-8{
	width: 66.67%;
	 
}
.col-9{
	width: 75%;
	 
}
.col-10{
	width: 83.33%;
	 
}
.col-11{
	width: 91.6%;
 }
.col-12{
	width: 100%;
}
body{
	font-size: 1.5rem;
	font-family: Arial;
	background-color: ghostwhite;
}
li{
	margin: 0rem 0.5rem 0rem 0.5rem;
}
.nav{
	display: flex;
	list-style-type: none;
	text-align: center;
}
.hero{
	background-image: url(../images/capture.PNG);
	height: 50rem;
	background-repeat: no-repeat;
	background-size: cover;
	font-weight: 150px;
}
.hero1{
	text-align: center;
}
.see{
	color: white;
	text-align: center;
	padding-top: 16rem;
	font-size: 2rem;
	font-weight: 150px;
	margin-left: 10rem;
	padding-bottom: 1.5rem;


}
.instructor{
	width: 430px;
	font-weight: 800px;
}
.col{
	width: 200px;
	font-size: 0.9rem;
	background-color: white;
	color: black;
}
.me{
	text-decoration-color: blue;
}
.wow{
	margin-left: 3rem;
	margin-right: 50rem;
}
img{
	padding: 0rem 0.5rem 0rem 0.5rem;
	margin: 0.5rem;
	border-radius: 2rem;
	width: 430px;
	height: 450px;
}
input{
	color: black;
	font-weight: 25px;
	background-color:;
	border-radius: 0.5rem;
}
p{
	font-weight: 250px;
	font-size: 20px;
	font-family: "monterit "sans-serif;
	margin: 0px 10px 0px 10px;
	list-style-type: square;
	padding: 0rem 0.5rem 0rem 0.5rem;

}
h4{
	text-align: center;
	color: black;
	font-size: 18px;
}

.img{
	font-weight: 400px;
	 height:200px ;
}

.lowa{
	background-color:;
	color: black;

}
.lowb{
	background-color:;
	color: black;
}
.gric{
	background-color: ;
	margin: 1rem 1rem;
	padding: 1re 1rem;
}
.came{
	background-color: ;
	margin: 1rem 1rem;
	padding: 1re 1rem;
}.eng{
	
	margin: 1rem 1rem;
	padding: 1re 1rem;
}
.sci{
	
	margin: 1rem 1rem;
	padding: 1re 1rem;
}
.ye{
	
	font-size: 40px;
}


